<html>
<head>
<style>
.guess_box {
  position: relative;
  background: <%= bgcolor %>;
  top: 100px;
  width: 400px;
  height: 150px;
  margin: auto;
  text-align: center;
}
p {
  margin: auto;
  padding: 20px;
  text-align: center;
}
</style>
</head>
<body>
  <div class = "guess_box">
    <p>Can you guess my secret number?</p>
    <form>
      <input type="text" name="guess" />
      <input type="submit" value="Guess!" />
    </form>
    <p>Your guess is <%= message %></p>
  </div>
</body>
</html>
