<html>
    <head></head>
    <body>
        <p>Can you guess my secret number?</p>
        <form>
            <input type="text" name="guess" />
            <input type="submit" value="Guess!" />
        </form>
        <p>Your guess is <%= message %></p>
    </body>
</html>
